* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --bold: "Gilroy Bold";
  --heavy: "Gilroy Heavy";
  --light: "Gilroy Light";
  --medium: "Gilroy Medium";
  --regular: "Gilroy Regular";
  --semiBold: "Gilroy SemiBold";
  --thin: "Giltoy Thin";

  --cinza: #f1f1f2;
  --cinza-escuro: #adadb2;
  --cinza-mais-escuro: #55575f;

  --vermelho-rosa: #fe2c55;
  --branco-close: #f8f8f8;
}

body {
  font-family: var(--medium);
}

header {
  position: relative;
  width: 100%;
  height: 70px;
  background: rgb(8, 9, 19);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid blue;
}

.tiktok-logo {
  display: flex;
  align-items: center;
  height: 100%;
  font-family: var(--bold);
  font-style: italic;
  padding: 4%;
}

.navbar {
  position: relative;
  width: auto;
  padding: 5%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navbar ul {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.navbar a {
  position: relative;
  border: 1px solid var(--cinza-escuro);
  padding: 0.4rem 1.2rem;
  border-radius: 2px;
  font-family: var(--semiBold);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}

.navbar a#upload:hover {
  background-color: #55575fb4;
}

.navbar a#upload i {
  margin-right: 0.2rem;
  font-size: 1.5rem;
  transition: all 0.4s;
  width: 100%;
  height: 100%;
}

.navbar a#upload i:hover {
  transform: rotate(180deg);
}

.navbar a#login {
  padding: 0.54rem 1.5rem;
  background: var(--vermelho-rosa);
  border-color: transparent;
}

.navbar a#login:hover {
  background-color: #fe2c56cb;
}

.search {
  position: relative;
  width: 40%;
}

.search input {
  width: 96%;
  height: 45px;
  border: 1px solid #d7d7d7;
  border-radius: 80px;
  background: var(--cinza);
  padding: 2%;
  text-indent: 15px;
  font-size: 1.1rem;
  font-family: var(--semiBold);
  outline: none;
}

.search input::placeholder {
  color: var(--cinza-mais-escuro);
}

.search i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2.4rem;
  color: black;
  font-size: 1.4rem;
  color: var(--cinza-escuro);
}

.search i::after {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  left: -0.6rem;
  width: 1px;
  height: 30px;
  background: var(--cinza-escuro);
  border-radius: 20px;
}
@media (max-width: 850px) {
  .navbar {
    padding: 2%;
  }

  .navbar ul {
    gap: 0;
  }

  .navbar a#upload {
    display: none;
  }

  .search i {
    right: 1.7rem;
  }
}

@media (max-width: 525px) {
  .navbar {
    padding: 7%;
  }

  .search {
    display: none;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 6% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 36%;
  max-height: 89vh;
  border-radius: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content h2 {
  margin-top: 1.5rem;
  font-size: 2rem;
  text-align: center;
}

.modal-content form {
  text-align: left;
  padding: 10px;
}

.modal-content label {
  font-family: var(--semiBold);
  font-size: 1rem;
}

.label-group {
  position: relative;
}

.modal-content form button {
  width: 100%;
  padding: 12px;
  margin-top: 1.4rem;
  font-family: var(--bold);
  font-size: 1rem;
  border: none;
  background: var(--vermelho-rosa);
  cursor: pointer;
  color: #fff;
  border-radius: 20px;
  transition: all 0.2s;
}

.modal-content form button:hover {
  background-color: #e3163f;
}

.modal-content input {
  border: 2px solid rgba(22, 24, 35, 0.12);
  border-radius: 5px;
  width: 100%;
  outline: none;
  padding: 8px;
  padding-left: 40px;
  margin-top: 0.5rem;
  font-family: var(--semiBold);
  font-size: 1rem;
  background: var(--cinza);
  color: var(--cinza-mais-escuro);
}

.modal-content form i {
  position: absolute;
  left: 0.5rem;
  top: 50%;
  transform: translateY(5%);
  color: var(--cinza-escuro);
  font-size: 1.5rem;
}

.modal-content .footer-form {
  margin-top: 2rem;
}

.modal-content .footer-form p {
  font-family: var(--semiBold);
  text-align: center;
}

.modal-content .footer-form a {
  color: var(--vermelho-rosa);
  font-family: var(--bold);
  transition: all 0.2s ease;
}

.modal-content .footer-form a:hover {
  text-decoration: underline;
}

/* VIDEO CONTAINER */

.video-container {
  width: 100%;
  height: auto;
  display: flex;
  padding: 30px;
}

.video-content {
  width: 500px;
  height: auto;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 100px 1fr 70px;
}

.video-player {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.buttons {
  width: 100%;
  height: 100%;
  position: relative;
}

.buttons-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  text-align: center;
  bottom: 12rem;
  right: 50%;
  transform: translateX(50%);
}

.buttons-content span {
  color: #161823;
  background: #f1f1f2;
  padding: 6px;
  font-size: 2rem;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.8s all ease;
}

#curtida.pressed {
  filter: brightness(80%);
}

.buttons-content p {
  font-family: var(--semiBold);
}

.profile-user img {
  width: 56px;
  border-radius: 100%;
  float: right;
  margin-right: 10px;
}

/* POP UP NAO LOGADO */

.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  text-align: center;
}
