* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --bold: "Gilroy Bold";
  --heavy: "Gilroy Heavy";
  --light: "Gilroy Light";
  --medium: "Gilroy Medium";
  --regular: "Gilroy Regular";
  --semiBold: "Gilroy SemiBold";
  --thin: "Giltoy Thin";

  --cinza: #f1f1f2;
  --cinza-escuro: #adadb2;
  --cinza-mais-escuro: #55575f;

  --vermelho-rosa: #fe2c55;
  --branco-close: #f8f8f8;
}

body {
  font-family: var(--medium);
}

header {
  position: relative;
  width: 100%;
  height: 70px;
  background: rgb(8, 9, 19);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid blue;
}

.tiktok-logo {
  display: flex;
  align-items: center;
  height: 100%;
  font-family: var(--bold);
  font-style: italic;
  padding: 4%;
}

.navbar {
  position: relative;
  width: auto;
  padding: 5%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navbar ul {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.navbar a {
  position: relative;
  border: 1px solid var(--cinza-escuro);
  padding: 0.4rem 1.2rem;
  border-radius: 2px;
  font-family: var(--semiBold);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}

.navbar a#upload:hover {
  background-color: #55575fb4;
}

.navbar a#upload i {
  margin-right: 0.2rem;
  font-size: 1.5rem;
}

.navbar a#login {
  padding: 0.54rem 1.5rem;
  background: var(--vermelho-rosa);
  border-color: transparent;
}

.navbar a#login:hover {
  background-color: #fe2c56cb;
}

.search {
  position: relative;
  width: 40%;
}

.search input {
  width: 96%;
  height: 45px;
  border: 1px solid #d7d7d7;
  border-radius: 80px;
  background: var(--cinza);
  padding: 2%;
  text-indent: 15px;
  font-size: 1.1rem;
  font-family: var(--semiBold);
  outline: none;
}

.search input::placeholder {
  color: var(--cinza-mais-escuro);
}

.search i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2.4rem;
  color: black;
  font-size: 1.4rem;
  color: var(--cinza-escuro);
}

.search i::after {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  left: -0.6rem;
  width: 1px;
  height: 30px;
  background: var(--cinza-escuro);
  border-radius: 20px;
}
@media (max-width: 850px) {
  .navbar {
    padding: 2%;
  }

  .navbar ul {
    gap: 0;
  }

  .navbar a#upload {
    display: none;
  }

  .search i {
    right: 1.7rem;
  }
}

@media (max-width: 525px) {
  .navbar {
    padding: 7%;
  }

  .search {
    display: none;
  }
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 450px;
  height: 550px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.modal-content i .ri-close-fill {
  color: #161823;
  padding: 0.5rem;
  font-size: 2rem;
  background: var(--branco-close);
  border-radius: 50%;
  position: absolute;
  top: 0.4rem;
  right: 0.4rem;
  transition: all 1s;
}

.modal-content h2 {
  margin-top: 3.5rem;
  font-size: 2rem;
  font-family: var(--bold);
}

.modal-content form {
  text-align: left;
  padding: 30px;
}

.modal-content label {
  font-family: var(--semiBold);
  font-size: 1.1rem;
}

.label-group {
  position: relative;
}

.modal-content form button {
  width: 100%;
  padding: 12px;
  margin-top: 1.4rem;
  font-family: var(--bold);
  font-size: 0.8;
  border: none;
  background: var(--vermelho-rosa);
  cursor: pointer;
  color: #fff;
  border-radius: 20px;
  transition: all 0.2s;
}

.modal-content form button:hover {
  background-color: #e3163f;
}

.modal-content input {
  border: 2px solid rgba(22, 24, 35, 0.12);
  border-radius: 5px;
  width: 100%;
  outline: none;
  padding: 5px 40px;
  margin-top: 0.5rem;
  font-family: var(--semiBold);
  font-size: 1.1rem;
  background: var(--cinza);
  color: var(--cinza-mais-escuro);
}

.modal-content form i {
  position: absolute;
  left: 0.5rem;
  top: 50%;
  transform: translateY(5%);
  color: var(--cinza-escuro);
  font-size: 1.5rem;
}

.modal-content .footer-form {
  position: relative;
  bottom: 0;
  left: 0;
}

.modal-content .footer-form p {
  margin-top: 8rem;
  font-family: var(--semiBold);
}

.modal-content .footer-form a {
  color: var(--vermelho-rosa);
  font-family: var(--bold);
}

.modal-content .footer-form a:hover {
  text-decoration: underline;
}

@media (max-width: 850px) {
}
