<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TikTok | Home</title>
    <!-- CSS FONTS -->
    <link rel="stylesheet" href="./public/css/fonts.css" />
    <!-- CSS PAGINA -->
    <link rel="stylesheet" href="./public/css/index.css" />
    <!-- CDN REMIX ICONS -->
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.6.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="tiktok-logo">
        <h1>Tik Tok</h1>
      </div>
      <div class="search">
        <input type="text" placeholder="Procurar" />
        <i class="ri-search-line"></i>
      </div>
      <div class="navbar">
        <nav>
          <ul>
            <li>
              <a href="#" id="upload"
                ><i class="ri-add-line"></i>
                Carregar
              </a>
            </li>
            <li>
              <a href="#" id="login">Entrar</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <div id="modal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="closeModal()"
          ><i class="ri-close-fill"></i
        ></span>
        <h2>Entrar no Tik Tok</h2>
        <form id="loginForm">
          <div class="label-group">
            <label for="email">Email</label> <br />
            <i class="ri-mail-line"></i
            ><input type="email" id="email" name="email" required />
          </div>
          <br />

          <div class="label-group">
            <label for="senha">Senha</label> <br />
            <i class="ri-lock-line"></i
            ><input type="password" id="senha" name="senha" required /><br />
          </div>

          <button type="submit" class="btn">Entrar</button>
        </form>
        <div class="footer-form">
          <p>Não tem uma conta? <a href="#"> Criar conta</a></p>
        </div>
      </div>
    </div>

    <script src="./public/scripts/index.js"></script>
  </body>
</html>
